<style type="text/css">
<%= styling %>
</style>
<div id="post">
  <div id="title"><%= draft.title %></div>
  <div id="date_posted"><%= draft.date_posted %></div>

  <hr>
  <div id="post_content">
  <%= draft.content %>
  </div>
</div>
