<!DOCTYPE html>
<html>
    <head>
        <title>Samuel Castaneda</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            
                <h1><a href="/">Sam Castaneda</a></h1>
                <p>tag line</p>
            
        </header>
        <a href="/">Home</a>
        <div id="flash-message"><%= (typeof message !== 'undefined' ? message : '')%></div>
        
        <%- body %>
        
        <footer>
            <a href="/view-drafts">View Drafts</a>
            <a href="/view-styles">View Styles</a>
            <a href="/edit">New Draft</a>
            <a href="/style">New Style</a>
        </footer>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
