<!DOCTYPE html>
<html>
    <head>
        <title>Sams Blog</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-1.11.0.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="flash-message"><%= (typeof message !== 'undefined' ? message : '')%></div>
        <a href="/view-drafts">View Drafts</a>
        <a href="/view-styles">View Styles</a>
        <a href="/edit">New Draft</a>
        <a href="/style">New Style</a>
        <hr>
        <%- body %>


        <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
